<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaguarteam.facare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Facare.NoActionBar">
        <activity
            android:name=".LoginAnahuac"
            android:exported="false" />
        <activity
            android:name=".MenuPostCuestionario"
            android:exported="false" />
        <activity
            android:name=".Cuestionario5"
            android:exported="false" />
        <activity
            android:name=".Cuestionario4"
            android:exported="false" />
        <activity
            android:name=".Cuestionario3"
            android:exported="false" />
        <activity
            android:name=".Cuestionario2"
            android:exported="false" />
        <activity
            android:name=".ContratoHonestidad"
            android:exported="false" />
        <activity
            android:name=".Cuestionario1"
            android:exported="false" />
        <activity
            android:name=".MenuCuestionario"
            android:exported="false" />
        <activity
            android:name=".AvisoPrivacidad"
            android:exported="false" />
        <activity
            android:name=".RecuperarContra"
            android:exported="false" />
        <activity
            android:name=".ReguistroConCuentaAnahuac"
            android:exported="false" />
        <activity
            android:name=".RegistroSinCorreoA"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>